
2023_02_20_cellranger/data/*
2023_02_20_cellranger/original_data/*

2023_02_20_cellranger/output/cellranger_aggr/*/*/*
2023_02_20_cellranger/output/cellranger_aggr/*/SC*
2023_02_20_cellranger/output/cellranger_aggr/*/_*
2023_02_20_cellranger/output/cellranger_aggr/*/*.mri.tgz
!2023_02_20_cellranger/output/cellranger_aggr/*/outs/*.csv
!2023_02_20_cellranger/output/cellranger_aggr/*/outs/*.html
!2023_02_20_cellranger/output/cellranger_aggr/*.csv

2023_02_20_cellranger/output/cellranger_count/*/*/*
2023_02_20_cellranger/output/cellranger_count/*/SC*
2023_02_20_cellranger/output/cellranger_count/*/_*
2023_02_20_cellranger/output/cellranger_count/*/*.mri.tgz
!2023_02_20_cellranger/output/cellranger_count/*/*/*.html
!2023_02_20_cellranger/output/cellranger_count/*/*/*.csv

2023_02_20_cellranger/output/fastqc/*/*/*
!2023_02_20_cellranger/output/fastqc/*/*/*.html

2023_02_20_cellranger/output/multiqc/*
!2023_02_20_cellranger/output/multiqc/*.html

2023_02_20_cellranger/reference/*
!2023_02_20_cellranger/reference/2023_02_20_cellranger_mkref_GRCh38.sbatch

2023_02_20_cellranger/scripts/log*


2023_02_21_Integrated_Seurat/output
2023_02_21_Integrated_Seurat/scripts/log*


2023_02_23_Seurat_Cont/data
2023_02_23_Seurat_Cont/output
2023_02_23_Seurat_Cont/scripts/log*


2023_02_23_Seurat_NG/data
2023_02_23_Seurat_NG/output
2023_02_23_Seurat_NG/scripts/log*


2023_02_23_Seurat_OSA_NG/data
2023_02_23_Seurat_OSA_NG/output
2023_02_23_Seurat_OSA_NG/scripts/log*


2023_02_23_Seurat_OSA_POS/data
2023_02_23_Seurat_OSA_POS/output
2023_02_23_Seurat_OSA_POS/scripts/log*


2023_03_01_plot_UMAP_tSNE/data
2023_03_01_plot_UMAP_tSNE/output


2023_03_02_plot_CellCounts/data
2023_03_02_plot_CellCounts/output


2023_03_02_plot_DoHeatmap/data
2023_03_02_plot_DoHeatmap/output


2023_03_03_annotate_cell_types/data
2023_03_03_annotate_cell_types/output


2023_03_06_extract_normalized_counts/data
2023_03_06_extract_normalized_counts/output


2023_03_08_generate_top_n_markers_heatmap/data
2023_03_08_generate_top_n_markers_heatmap/output


2023_03_09_annotate_with_scina_Cell_Markers/data
2023_03_09_annotate_with_scina_Cell_Markers/output
2023_03_09_annotate_with_scina_Cell_Markers/scripts/*.log


2023_03_09_summarize_custom_annotations_Cell_Markers/data
2023_03_09_summarize_custom_annotations_Cell_Markers/output


2023_03_10_annotation_with_Cell_Markers/data
2023_03_10_annotation_with_Cell_Markers/output


2023_03_10_summarize_custom_annotations_Cell_Markers/data
2023_03_10_summarize_custom_annotations_Cell_Markers/output
